*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

*.yml linguist-detectable=true
*.yml linguist-language=YAML

*.yml linguist-vendored=false
*.yml linguist-generated=false
*.yml linguist-documentation=false
*.yml linguist-detectable=true
