name: GitHub-Profile-Metrics

on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-metrics
    steps:
      - uses: actions/checkout@v5

      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.PRIVATE_GH_TOKEN }}
          user: ${{ github.repository_owner }}

          # keep same style of combined SVG
          template: classic
          base: header, activity, community, repositories

          # language pie chart control
          plugin_languages: yes
          plugin_languages_limit: 10
          plugin_languages_ignored: >
            html,
            jupyter notebook,
            c#,
            tex,
            css,
            asp.net,
            scss,
            javascript,
            prolog,
            powershell,
            typescript,
            m4,
            roff,
            batchfile,
            gap,
            markdown,
            makefile

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          if git commit -m "generated"; then
            git push
          fi
